<div class="container">
  <div class="chat-list mat-elevation-z5"  >
    <mat-selection-list [multiple]="false"   >
      <mat-list-option>
      <img alt="photo"
           matListAvatar width="30" height="30"
           [src]="userphoto"
      />
      <p mat-line class="chat-title">
        <span class="chat-name">{{userName}} </span>
      </p>
      <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list [multiple]="false"   >
      <mat-divider></mat-divider>
      <mat-list-option *ngFor="let chats of chat ; index as i"  (click)="selectedChat(chats)">
        <img alt="photo" *ngIf="test[i]"
             matListAvatar width="30" height="30"
             [src]="chats.userPhotoTo"
        />
        <img  alt="photo" *ngIf="!test[i]"
              matListAvatar width="30" height="30"
              [src]="chats.userPhotoFrom"
        />
        <p mat-line class="chat-title">
          <span class="chat-name" *ngIf="test[i]" >{{chats.userNamesTo}} </span>
          <span class="chat-name" *ngIf="!test[i]" >{{chats.userNamesFrom}} </span>
          <span class="chat-date">
            {{chats.dateLastMessage|date:'shortTime' }}
          </span>
        </p>
        <p mat-line> {{chats.lastMessage}}  </p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5" >
    <div
      *ngIf="chatSelected else noChatSelected"
      class="messages-header"
    >
      <img *ngIf="sendFrom" alt="photo" [src]="this.chat1.userPhotoTo"
      />
      <img *ngIf="!sendFrom" alt="photo" [src]="this.chat1.userPhotoFrom"
      />
      <h2 *ngIf="sendFrom" >{{chat1.userNamesFrom}} </h2>
      <h2 *ngIf="!sendFrom" >{{chat1.userNamesTo}} </h2>
    </div>
    <ng-template #noChatSelected>
      <h2>Messages</h2>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="chat-area" *ngIf="chatSelected" >
      <ng-container >
        <ng-container >
          <div
            class="chat-bubble-container  "
            *ngFor="let message of chat1.message"
            [ngClass]="{ sender: message.senderEmail === userEmail }"
          >
            <div class="chat-bubble" >
              {{message.text}}

              <span class="chat-time">
                {{message.messageDate|date:'shortTime'}}
              </span>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div #endOfChat></div>
    </div>
    <div class="input-area" *ngIf="chatSelected">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="sendText"
               matInput
               placeholder="Enter your message..."
        />
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>

<!--

<div class="messages mat-elevation-z5"  >
    <div>
      <h2>Messages</h2>
    </div>
    </div>
<div
      *ngIf="chatSelected else noChatSelected"
      class="messages-header"
    >
      <img  alt="photo" [src]=""
      />
      <h2>chat12.userNamesFrom </h2>
    </div>

<mat-divider></mat-divider>
    <div class="chat-area"  >
      <ng-container >
        <ng-container >
          <div
            class="chat-bubble-container  "

            >
            <-- *ngFor="let message of chat12.message1"
            [ngClass]="{ sender: message.senderEmail === userEmail }"  {{message.text}} ->
<div class="chat-bubble" >


              <span class="chat-time">
                16:15
              </span>
</div>
</div>
</ng-container>
</ng-container>
<div #endOfChat></div>
</div>
<div class="input-area" *ngIf="chatSelected">
  <mat-form-field appearance="outline">
    <input [(ngModel)]="sendtext"
           matInput
           placeholder="Enter your message..."
    />
    <button mat-icon-button matSuffix (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</div>
</div>
-->
