<h1 mat-dialog-content>{{title}}</h1>
<mat-dialog-content>

  <mat-form-field class="full-width" >
    <mat-label>TO</mat-label>
    <input [(ngModel)]="announcement.userEmail"  matInput [disabled]="true" type="text"/>
  </mat-form-field>

  <div class="input-area">
    <mat-form-field appearance="outline">
      <input
        [(ngModel)]="message.text"
        matInput

      />
      <button mat-icon-button matSuffix (click)="sendMessage()" >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-dialog-content>
