<h1 mat-dialog-content>{{title}}</h1>
<mat-dialog-content>

  <mat-form-field class="full-width" >
    <mat-label>TO</mat-label>
    <input [(ngModel)]="announcement.userEmail"  matInput [disabled]="true" type="text"/>
  </mat-form-field>

  <div class="input-area">
    <mat-form-field appearance="outline">
      <input
        [(ngModel)]="message.text"
        matInput

      />
      <button mat-icon-button matSuffix (click)="sendMessage()" >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <!--<div class="example-card">
    <mat-card-header>
      <div mat-card-avatar >
          <img alt="photo"   class="profile-img-toolbar"  width="30" height="30" [src]="announcement.userPhoto">
        </div>

      <mat-card-title>{{announcement.name}}</mat-card-title>

    </mat-card-header>
    <img mat-card-image [src]="announcement.photo" alt="Photo">
    <mat-card-content>
      <p>
        <strong>Description: </strong>{{announcement.description}}
      </p>
    </mat-card-content>
    <p> <strong>status: </strong>{{announcement.type}}</p>
    <mat-card-actions>

      <a>    <mat-icon matSuffix>place</mat-icon>
        {{announcement.location}}
      </a>
      <div class="wrapper">
        <div id="map1" class="map-container" ></div>
      </div>
      <mat-dialog-actions>
        <button mat-dialog-close mat-raised-button>Close</button>

        <button mat-button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon >message</mat-icon>

        </button>
      </mat-dialog-actions>
    </mat-card-actions>
  </div>
  -->
</mat-dialog-content>
