.mat-dialog-content {
  display: flex;
  flex-direction: column;
}
.profile-img>img{
  border-radius: 80%;
  object-fit: cover;
  object-position: center;
  justify-content: center;

}

.profile-img{
  position: relative;
}
.center{
  position: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
