<h1 mat-dialog-content>{{title}}</h1>
<mat-dialog-content>
  <ng-container>
    <div class="center">
    <div class= "profile-img"  >
      <img alt="photo" [src]="user.photo" height="120" width="120">
    </div>
    </div>
     <p> <strong>user name: </strong>
      {{user.userName}} </p>
    <p> <strong>Family name: </strong>
      {{user.familyName}} </p>
    <p> <strong>Email: </strong>
      {{user.email}} </p>
    <p> <strong>Location: </strong>
      {{user.location}} </p>
    <p> <strong>Mobile: </strong>
      {{user.mobile}} </p>
    <p> <strong>Registration Date: </strong>
      {{user.registrationDate}} </p>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
