
  <mat-card-content class="form-container">
    <mat-label><strong>Filtros: </strong></mat-label>
    <mat-form-field>
      <mat-label>Nº identificación</mat-label>
      <input  matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre cliente</mat-label>
      <input  matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Primer apellido</mat-label>
      <input  matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Segundo apellido</mat-label>
      <input  matInput>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button  mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>


<mat-card  >
  <mat-card-title>announcement
  <button   class="right" mat-button mat-icon-button matSuffix>
    <mat-icon color="warn">add</mat-icon>
  </button>
  </mat-card-title>
  <mat-card class="form-container">
  <mat-card-title-group>
    <mat-card-title>Shiba  </mat-card-title>

  </mat-card-title-group>
  <img mat-card-md-image src="../../assets/images/empty.jpg" >
  <a>  email , data , role famly name
  </a>
  <a>  email , data , role famly name
  </a>
  <mat-card-content>
    <img mat-card-avatar class="example-header-image"
         [style.background-image]="'url(' + url + ')'">
    <a>  email , data , role famly name
    </a>

    <button  mat-button mat-icon-button matSuffix>
      <mat-icon>visibility</mat-icon>
    </button>
    <button  mat-button mat-icon-button matSuffix>
      <mat-icon color="warn">mode_edit</mat-icon>
    </button>
    <button  mat-button mat-icon-button matSuffix>
      <mat-icon color="warn">close</mat-icon>
    </button>




  </mat-card-content>
  </mat-card>
  </mat-card>
