
.form-container {
  margin: 30px;
  max-wimdth: 100px;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}
.center {
  justify-content: center;
}

.right {
  position: absolute;
  right: 20px;


}
