
  <mat-card-content class="form-container" *ngIf="!homepage"> <!--  //max-wimdth: 300px;-->
    <mat-label><strong>Filters: </strong></mat-label>
    <mat-form-field>
      <mat-label>Location </mat-label>
      <input [(ngModel)]="announcementSearch.location" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label> status</mat-label>
      <mat-select  [(ngModel)]="announcementSearch.type">
        <mat-option *ngFor="let key of keyType" [value]="key"  >
          {{type[key]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label> category</mat-label>
      <mat-select [(ngModel)]="announcementSearch.category">

        <mat-option *ngFor="let i of keyCategory" [value]="i" >
          {{category[i]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button  mat-icon-button (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
  <mat-card-content class="form-container" *ngIf="homepage"></mat-card-content>


<mat-card>
  <mat-card-title>{{title}}
  <button   class="right" mat-button mat-icon-button matSuffix (click)="Create()">
    <mat-icon color="warn">add</mat-icon>
  </button>
  </mat-card-title>
<div class="content"  *ngIf="announcement?.length>0" >
  <div fxLayout="row wrap" fxLayoutGap="15px grid"  >
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%"   *ngFor="let announcements of announcement" >
  <mat-card  class="mat-elevation-z4">
    <mat-card-header>
      <div mat-card-avatar  >
        <img alt="photo"   class="example-header-image"  width="30" height="30" [src]="announcements.userPhoto">
      </div>

      <mat-card-title>{{announcements.name}}</mat-card-title>

    </mat-card-header>
    <img mat-card-image  width="250px" height="250px" [src]="announcements.photo" alt="Photo ">
    <mat-card-content>
      <p>
        <strong>Description :   </strong> {{announcements.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a>    <mat-icon matSuffix>place</mat-icon>  {{announcements.location}}
      </a>

      <button  mat-button mat-icon-button matSuffix (click)="read(announcements.id)" >
        <mat-icon>visibility</mat-icon>
      </button>

      <button *ngIf="admin||homepage" mat-button mat-icon-button matSuffix (click)="update(announcements.id)" >
        <mat-icon color="warn">mode_edit</mat-icon>
      </button>
      <button *ngIf="admin||homepage"   mat-button mat-icon-button matSuffix (click)="delete(announcements.id)">
        <mat-icon color="warn">close</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
    </div>
  </div>
</div>
</mat-card>
