
.form-container {
  margin: 30px;
 // max-wimdth: 300px;
  object-position: center ;
  position: center;
}
.example-card {
  padding-left: 20%;
  padding-right: 30%;
}

.example-header-image {
  background-size: cover;
  border-radius: 100%;
  margin-right: 8px;
  object-fit: cover;
}
.center {
  justify-content: center;
}

.right {
  position: absolute;
  right: 20px;
}
#map {
  width: 500px;
  height: 500px;
}
#asGeoCoder{
  width: 500px;
  height: 500px;
}

.content{
  padding: 30px;
}
.content>mat-card{
  width: 250px;
}
