
  <mat-card-content class="form-container">
    <mat-label><strong>Filtros: </strong></mat-label>
    <mat-form-field>
      <mat-label>Nº identificación</mat-label>
      <input  matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre cliente</mat-label>
      <input  matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Primer apellido</mat-label>
      <input  matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Segundo apellido</mat-label>
      <input  matInput>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button  mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>



<mat-card>
  <mat-card-title>announcement
  <button   class="right" mat-button mat-icon-button matSuffix (click)="Create()">
    <mat-icon color="warn">add</mat-icon>
  </button>
  </mat-card-title>
<!--
  <mat-card class="form-container">
  <mat-card-title-group>
    <mat-card-title>object name </mat-card-title>

  </mat-card-title-group>
  <img mat-card-md-image src="../../assets/images/empty.jpg" >

  <a>  Description
  </a>
  <mat-card-content>
    <img mat-card-avatar class="example-header-image"
         [style.background-image]="'url(' + url + ')'" width="40" height="40">

    <a>    <mat-icon matSuffix>place</mat-icon> object Location
    </a>

    <button  mat-button mat-icon-button matSuffix>
      <mat-icon>visibility</mat-icon>
    </button>
    <button  mat-button mat-icon-button matSuffix>
      <mat-icon color="warn">mode_edit</mat-icon>
    </button>
    <button  mat-button mat-icon-button matSuffix>
      <mat-icon color="warn">close</mat-icon>
    </button>
  </mat-card-content>
  </mat-card>
</mat-card>

-->
  <!--<div style="width:9px margin:0 auto"></div>
  <mat-grid-list cols="2"  rowheight=500px> -->
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="15px grid" >
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let i of [1,2,3,4,5,6,7]" >
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img mat-card-avatar class="example-header-image"
             [style.background-image]="'url(' + url + ')'" width="40" height="40">
      </div>
      <mat-card-title>object name{{i}}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Description{{i}}
      </p>
    </mat-card-content>
    <mat-card-actions>


      <a>    <mat-icon matSuffix>place</mat-icon> object Location {{i}}
      </a>

      <button  mat-button mat-icon-button matSuffix (click)="Read()" >
        <mat-icon>visibility</mat-icon>
      </button>
      <button  mat-button mat-icon-button matSuffix>
        <mat-icon color="warn">mode_edit</mat-icon>
      </button>
      <button  mat-button mat-icon-button matSuffix>
        <mat-icon color="warn">close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
    </div>
  </div>
</div>
</mat-card>

  <!--
    <div class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <img mat-card-avatar class="example-header-image"
             [style.background-image]="'url(' + url + ')'" width="40" height="40">

        <a>    <mat-icon matSuffix>place</mat-icon> object Location
        </a>

        <button  mat-button mat-icon-button matSuffix>
          <mat-icon>visibility</mat-icon>
        </button>
        <button  mat-button mat-icon-button matSuffix>
          <mat-icon color="warn">mode_edit</mat-icon>
        </button>
        <button  mat-button mat-icon-button matSuffix>
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-card-actions>
    </div>


  <--</mat-grid-list> -->

