

<mat-card>
  <mat-card-content>
    <mat-label><strong>Filters: </strong></mat-label>
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input [(ngModel)]="userSearch.userName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input [(ngModel)]="userSearch.email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input [(ngModel)]="userSearch.location" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mobile</mat-label>
      <input [(ngModel)]="userSearch.mobile" matInput>
    </mat-form-field>
    <button (click)="search()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<app-crud (create)="createUser()" (read)="detailsUser($event)" (update)="updateUser($event)"
          [data]="users" (delete)="deleteUser($event)" [title]="title"></app-crud>
