

<mat-card>
  <mat-card-content>
    <mat-label><strong>Filters: </strong></mat-label>
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input [(ngModel)]="userSearch.userName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input [(ngModel)]="userSearch.email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input [(ngModel)]="userSearch.location" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mobile</mat-label>
      <input [(ngModel)]="userSearch.mobile" matInput>
    </mat-form-field>
    <button (click)="search()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<app-crud (create)="createUser()" (read)="detailsUser($event)" (update)="updateUser($event)"
          [data]="users" (delete)="deleteUser($event)" [title]="title"></app-crud>
<!--
<mat-card>
  <mat-card-title> EMPTY!</mat-card-title>
  <mat-card-content>
<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <-- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" --

  <!- Position Column --
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!- Name Column --
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  Weight Column --
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

   Symbol Column --
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
  </mat-card-content>
</mat-card>

<mat-card class="form-container" *ngFor="let i of color  ">
  <mat-card-title-group>
    <mat-card-title>Shiba  {{i}}</mat-card-title>

  </mat-card-title-group>
  <img mat-card-md-image src="../../assets/images/empty.jpg" >
<a>  email , data , role famly name
</a>
  <a>  email , data , role famly name
  </a>
  <mat-card-content>
    <mat-card-actions>
      <button  mat-button mat-icon-button matSuffix>
        <mat-icon>visibility</mat-icon>
      </button>
      <button  mat-button mat-icon-button matSuffix>
        <mat-icon color="warn">mode_edit</mat-icon>
      </button>
      <button  mat-button mat-icon-button matSuffix>
        <mat-icon color="warn">close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>


<mat-card-actions>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
          [style.background-image]="'url(' + url + ')'">

      </div>
      <mat-card-title>Shiba Inu23</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</mat-card-actions>
-->
