<mat-toolbar color="primary">

  <img alt="miw" src="../../assets/images/miw.png"/>
  <button mat-button routerLink="/home">
    <span>Lost&Found</span>
  </button>
  <div>
    <button (click)="login()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Login</span>
    </button>
    <span *ngIf="isAuthenticated()"> {{username}} </span>
    <span *ngIf="isAuthenticated()"> {{email}} </span>
    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <span></span>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
