<mat-toolbar color="primary">

  <img alt="miw" src="../../assets/images/logo4.png" height="50" width="70"/>

  <button mat-button routerLink="/home">
    <span>Lost&Found</span>
  </button>
  <div>
    <img alt="photo" class="profile-img-toolbar" *ngIf="isAuthenticated()" width="30" height="30" [src]="photo">
    <button (click)="login()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>

    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <span></span>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button *ngIf="isAuthenticated()" >
      <mat-icon>menu</mat-icon>
    </button>

  </div>
</mat-toolbar>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item  (click)="Profile()" >
    <mat-icon>settings</mat-icon>
    <span>Profile</span>
  </button>
  <button   mat-menu-item routerLink="/home/user" *ngIf="isAdmin()">
    <mat-icon> contacts</mat-icon>
    <span>User</span>
  </button>
  <button   mat-menu-item routerLink="/home/Announcement">
    <mat-icon>store</mat-icon>
    <span>Announcement</span>
  </button>
  <button   mat-menu-item routerLink="/home/MyAnnouncement" *ngIf ="!isAdmin()">
    <mat-icon>store</mat-icon>
    <span>My Announcement</span>
  </button>
  <button   mat-menu-item routerLink="/home/messengers" *ngIf="!isAdmin()">
    <mat-icon>message</mat-icon>
    <span>Messengers</span>
  </button>
</mat-menu>
<div class="container py-5 h-40" *ngIf="!isAuthenticated()">
  <div class="card bg-light text-black" style="border-radius: 1rem;">
    <div class="row justify-content">
      <div class=" col-25 col-md-10">
        <div class="login-wrap p-4 p-md-5">
          <h1 class="text-center "> Welcome To Lost And Found Application </h1>
          <img src="./assets/images/log2.png" alt="Logo" style="width:300px;">
          <img src="./assets/images/logo4.png" class="rounded float-right" alt="Logo" style="width:200px;">
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

